@model OnlineShoppingStore.Models.DAL.DetalleVenta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DetalleVenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalVentaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalVentaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetalleProducto.Talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleProducto.Talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venta.idVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.idVenta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
