@model IEnumerable<OnlineShoppingStore.Models.DAL.DetalleVenta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Producto</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>


            @Html.ActionLink("Nuevo Registro", "Create")
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.cantidadProducto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.totalVentaProducto)
                            </th>
                            <th>
                             <label>Producto</label>
                            </th>
                            <th>
                               <label>Cód. Venta</label>
                            </th>
                            <th> Acción</th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cantidadProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.totalVentaProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetalleProducto.DatosCombo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Venta.DatosComboVenta)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.idDetalleVenta }, new { @class = "btn btn-warning" })

                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idDetalleVenta }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>