@using OnlineShoppingStore.Models;

@{
    ViewBag.Title = "DetalleCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>Carrito Vacío</strong>
    </div>

}
else
{
<center>
    <table class="table table-bordered" style=" border-top-width: 1px; width: 602px; margin-left: 0px; margin-top: 100px; ">
        <thead>
            <tr>
                <th>Prenda</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>

            </tr>
        </thead>
        <tbody>
            @{ int Total = 0;
                                // int lineTotal = 0;
                                //int lineTotal = 0;
                                int sub = 0; }

            @foreach (Carrito item in (List<Carrito>)Session["cart"])
            {

                int precio = Convert.ToInt32(item.Productos.precio / 800);
                //Session["Price"] =precio.ToString();
                Session["Price"] = item.Productos.precio.ToString();
                //sub= Convert.ToInt32(sub+(item.Cantidad * item.Productos.precio));
                // int lineTotal = Convert.ToInt32(item.Cantidad * item.Productos.precio);
                //Session["subto"] = decimal.Parse((lineTotal/ 800).ToString());
                int lineTotal = Convert.ToInt32((item.Cantidad * item.Productos.precio));


                //lineTotal = Convert.ToInt32(lineTotal + (item.Cantidad * item.Productos.precio));
                Total = Convert.ToInt32(@Total + lineTotal);



                // Session["SesTotal"] = decimal.Parse((Total/ 800).ToString());
                Session["SesTotal"] = Total.ToString();

<tr>
    <td>@item.Productos.nombreProducto</td>
    <td>@item.Productos.precio</td>
    <td>@item.Cantidad</td>
    <td>@lineTotal</td>
</tr>sub += lineTotal;
                    Session["subto"] = (sub).ToString();


                }
            @{ }
            <tr>
                <td colspan="4" class="text-right"><b>Total: @Total</b></td>
            </tr>
        </tbody>
    </table>
</center>
<center><a href="@("../Paypal/metodoPaypal")" class="btn btn-success">Pagar >></a></center>

}

