@model OnlineShoppingStore.Models.DAL.DetalleProducto

@{ ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item ">Stock</li>
        <li class="breadcrumb-item active">Crear Stock</li>


    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Crear Stock

        </div>
        @using (Html.BeginForm())
        {
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h5 class="control-label col-md-2">Nuevo Stock</h5>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        @Html.LabelFor(model => model.Talla, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Talla, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Talla, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CantidadStock, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CantidadStock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CantidadStock, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       <label class="control-label col-md-2">Producto</label>
                        <div class="col-md-10">
                            @Html.DropDownList("Producto_idProducto", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Producto_idProducto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                }
    </div>
</div>