@model IEnumerable<OnlineShoppingStore.Models.DAL.DetalleProducto>

@{ ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
    }

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Producto</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>

            @Html.ActionLink("Nuevo Stock", "Create")
        </div>



        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Talla
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>Acción</th>
                        </tr>


                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadStock)
                </td>

                <td>
                    <center>
                        @if (!string.IsNullOrEmpty(item.Producto.Foto))
                        {
                    <img src="@Url.Content(item.Producto.Foto)" alt="Image" style="width:60px;height:80px;" />}
                        <br />
                        @Html.DisplayFor(modelItem => item.Producto.nombreProducto)
                    </center>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Producto.precio)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idDetalleProducto }, new { @class = "btn btn-warning" }) 
                  
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idDetalleProducto }, new { @class = "btn btn-danger" })
                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>